<aside class="menu">
  <ul class="menu-list">
    <li data-link="head-to-head">
      <%= render partial: "sidebar_tab", locals: { label: "Head to Head", path: head_to_head_stats_path } %>
    </li>
    <li data-link="recaps">
      <%= render partial: "sidebar_tab", locals: { label: "Recaps", path: recaps_stats_path } %>
    </li>
    <li data-link="team-names">
      <%= render partial: "sidebar_tab", locals: { label: "Team Names", path: team_names_stats_path } %>
    </li>
  </ul>
</aside>
