<aside class="menu">
  <ul class="menu-list">
    <li data-link="head-to-head">
      <%= render partial: "sidebar_tab", locals: { label: "Head to head", path: head_to_head_stats_path } %>
    </li>
    <li data-link="recaps">
      <%= render partial: "sidebar_tab", locals: { label: "Recaps", path: recaps_stats_path } %>
    </li>
  </ul>
</aside>
