<div class="columns">
  <div class="column">
    <%= render "sidebar" %>
  </div>

  <div class="column is-four-fifths">
    <div class="title">Team Names</div>
    <div class="subtitle">A timeline of each manager's team branding.</div>

    <div class="columns is-multiline">
      <% @team_names.sort.each do |team| %>
        <div class="column is-one-third">
          <div class="box">
            <table class="table is-striped is-hoverable">
              <thead>
                <tr>
                  <th>Season</th>
                  <th><%= team[0] %></th>
                </tr>
              </thead>

              <tbody>
                <% team[1].each do |season, name| %>
                  <tr>
                    <td><%= season %></td>
                    <td><%= name %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
